.svg-circle{
    fill: #7765E3;
}

.svgOne{
    max-width: 100rem;
    max-height: 20rem;

    &__window__1{
        fill:#7765E3;
    }
    &__window__2{
        fill:#fff;
    }
    &__window__3{
        fill:#fff;
    }
    &__window__4{
        fill:#7765E3;
    }
    &__window__5{
        fill:#7765E3;
    }
    &__window__6{
        fill:#fff;
    }
    &__window__7{
        fill:#fff;
    }
    &__window__8{
        fill:#7765E3;
    }
    &__window__9{
        fill:#7765E3;
    }
    &__window__10{
        fill:#fff;
    }
    &__window__11{
        fill:#fff;
    }
    &__window__12{
        fill:#7765E3;
    }
    &__window__13{
        fill:#7765E3;
    }
    &__window__14{
        fill:#fff;
    }
}